
// COLOR VARIABLES //
$primary_color: #58e1c1;
$secondary_color: #777;
$tertiary_color: #fff;

$default_color: #51ddfc;
$error_color: #e4757a;
$info_color: #927bc1;
$sucess_color: #63cc82;
$warning_color: #fd7856;

// COLOR MAP //
$color_themes: (
 "col-1": $info_color,
 "col-2": $warning_color,
 "col-3": #deb2ee,
 "col-4": #7ee6fd,
 "col-5": #88d9a0,
 "col-6": #4da2bb,
 "col-7": #ec9fa3,
 "col-8": #fd9f85,
 "col-9": $error_color,
 "col-10": $sucess_color,
 "col-11": $default_color,
 "col-12": #80e8d1,
);

// MEDIA BREAKPOINTS // 
$break_m: 768px;

// GUTTER VARIABLES //
$gutter_s: 10px;
$gutter_m: 20px;

// FONT STYLING VARIABLES //
$font_stack: 'Lato', sans-serif;
$font_w_s: 300;
$font_w_m: 700;

// FLEX BASIS MAP //
$flex_basis: (
   "col-1": 8.33%,
   "col-2": 16.67%,
   "col-3": 25.00%,
   "col-4": 33.33%,
   "col-5": 41.67%,
   "col-6": 50.00%,
   "col-7": 58.33%,
   "col-8": 66.67%,
   "col-9": 75.00%,
   "col-10": 83.33%,
   "col-11": 91.67%,
   "col-12": 100%,
);
