
/* ============================================= */
/*              Forms                            */
/* ============================================= */
.form {
  flex-basis: map-get($flex_basis, "col-12");
}

.input{
  display: block;
  width: 94%;
  margin: $gutter_s auto 0;
  border: none;
  padding: $gutter_s;
  border-bottom: 5px solid $primary_color;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
